/*addition 1 */
:root {
  --main-font: "Roboto";
  --secondary-font: "Raleway";
  --accent-color: #2196F3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #2F303A;
  --editional-color: #f5f4fa;
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.section__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

/*addition 2 */
body {
  font-family: var(--main-font);
  font-size: 14px;
  background-color: var(--mail-background-color);
  margin: 0px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

h1,
h2,
h3,
ul,
p {
  margin: 0px;
}

img {
  display: block;
}

.list {
  list-style: none;
  margin-left: 0px;
  padding: 0px;
}

.link {
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  background-color: var(--main-background-color);
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 3px 0px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 3px 0px 1px rgba(0, 0, 0, 0.12);
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  -webkit-transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: opacity var(--anim-fast), -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast), opacity var(--anim-fast);
  transition: transform var(--anim-fast), opacity var(--anim-fast), -webkit-transform var(--anim-fast);
}

.backdrop.is-hidden .modal {
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-70%);
          transform: translateX(-50%) translateY(-70%);
}

.modal-name {
  font-family: Roboto;
  font-weight: bold;
  line-height: 1.15;
  font-size: 20px;
  letter-spacing: 0.03em;
  display: block;
  text-align: center;
  padding: 0;
  margin-bottom: 12px;
}

.user-form-group {
  display: block;
  margin-bottom: 20px;
}

.user-form-field {
  padding: 9px 30px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  background-color: transparent;
  height: 40px;
  width: 100%;
}

.user-form-field:focus + .user-form-icon {
  fill: var(--accent-color);
  -webkit-transform: transition var(--anim-fast);
          transform: transition var(--anim-fast);
}

.user-form-field:focus-within {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transform: transition var(--anim-fast);
          transform: transition var(--anim-fast);
}

.user-form-message:focus-within {
  outline: none;
  border-color: var(--accent-color);
  -webkit-transform: transition var(--anim-fast);
          transform: transition var(--anim-fast);
}

.user-form-message {
  display: block;
  padding: 10px 20px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  margin-top: 4px;
  width: 100%;
  resize: none;
  height: 120px;
}

.user-e-mail-field {
  margin-bottom: 10px;
  padding: 15px 295px 15px 16px;
  font: inherit;
  border-radius: 3px;
  border: 1px solid rgba(33, 33, 33, 0.2);
}

.user-name-wrapper {
  position: relative;
  margin-bottom: 10px;
}

.user-form-icon {
  position: absolute;
  left: 12px;
  top: 11px;
}

.modal-form-label {
  display: block;
  text-align: start;
  font-size: 12px;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.group-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: 30px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
}

.check {
  display: block;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  margin-left: 20px;
}

.check .modal-link {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.modal-link {
  color: var(--accent-color);
  margin: 0;
}

.user-form-checkbox:checked + .checkbox-icon {
  background-color: var(--primary-text-color);
}

.modal-user-form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.check-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  background-size: contain;
}

.icon-checked {
  display: block;
  position: absolute;
  width: 16px;
  height: 15px;
  margin-left: -25px;
  margin-top: 3px;
  fill: var(--main-background-color);
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
}

.check-input:checked + .icon-checked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
  background-size: contain;
  background-origin: content-box;
}

.icon-checked-fix {
  margin-bottom: 6px;
  margin-left: 1px;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
}
.modal-button:hover, .modal-button:focus {
  fill: var(--accent-color);
}

.modal-form-button {
  padding: 10px 52px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  color: var(--main-background-color);
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  letter-spacing: 0.06em;
}
.modal-form-button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transform: transition var(--anim-fast);
          transform: transition var(--anim-fast);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  color: #000000;
}

.logo--white-accent {
  margin-left: -5px;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--main-background-color);
}

.logo--accent {
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-margin {
  margin-bottom: 20px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.filter-list .filter-item + .filter-item {
  margin-left: 9px;
}

.filter-button {
  display: inline-block;
  padding: 6px 25px;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: var(--editional-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  -webkit-transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), -webkit-box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast);
  transition: color var(--anim-fast), background-color var(--anim-fast), box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.filter-button:hover, .filter-button:focus {
  color: var(--main-background-color);
  background: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 700;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background: var(--accent-color);
  border-color: transparent;
  border-radius: 4px;
  cursor: pointer;
}

.btn--hero-look {
  display: inline-block;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 350ms linear, visibility 350ms linear;
  transition: opacity 350ms linear, visibility 350ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
@media screen and (min-width: 480px) {
  .section {
    padding-top: 60px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 60px;
  }
}

.section--no-padding {
  padding-bottom: 0px;
}

.section--no-top {
  padding-top: 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}
.menu .link {
  padding: 10px;
  color: inherit;
  text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
  text-decoration: underline;
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: auto;
}

.mobile-menu .link {
  display: block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
}

.contact-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.contact-menu .link {
  text-decoration: none;
}

.contact-phone {
  font-size: 34px;
  line-height: 1.1764705882;
}

.contact-mail {
  font-size: 24px;
  line-height: 1.1666666667;
}

.mobile-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ECECEC;
  padding-top: 16px;
  padding-bottom: 16px;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-mail {
  fill: currentColor;
}

.icon-mobile {
  fill: currentColor;
}

.header-mail, .header-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.header-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.header-mail:hover, .header-mail:focus {
  color: var(--accent-color);
}

.header-phone {
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  margin-left: 50px;
  color: var(--secondary-text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}
.header-phone:hover, .header-phone:focus {
  color: var(--accent-color);
}

.header__contact {
  display: none;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: none;
}

.nav__list .nav__item + .nav__item {
  margin-left: 50px;
}

.nav__item, .contact__item {
  font-style: normal;
  text-decoration: none;
}

.nav__item--no-margin {
  margin-bottom: 0;
}

.nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.nav__link:hover, .nav__link:focus {
  color: var(--accent-color);
  cursor: pointer;
}

.nav__link--current {
  position: relative;
  color: var(--accent-color);
}

.nav__link--current::after {
  content: "";
  display: block;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  border-radius: 2px;
  margin: 0;
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}

.hero {
  text-align: center;
  background-color: var(--secondary-background-color);
  margin: 0 auto;
  padding: 200px 0;
}

.hero-overlay {
  max-width: 1600px;
  height: 600px;
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/bgimg.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/bgimg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
}

.hero__name {
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  color: var(--main-background-color);
}
@media screen and (min-width: 480px) {
  .hero__name {
    width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 768px) {
  .hero__name {
    width: 360px;
    font-size: 26px;
    line-height: 1.6153846154;
  }
}
@media screen and (min-width: 1200px) {
  .hero__name {
    width: 696px;
    font-size: 44px;
    line-height: 1.3636363636;
  }
}

.feature-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .feature-list {
    display: block;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 480px) {
  .feature-list__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__item {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    margin-bottom: 0px;
  }
}

.feature-list .item {
  width: 270px;
  margin-right: 30px;
}

.feature-list .item:nth-child(4n) {
  margin-right: 0;
}
@media screen and (min-width: 480px) {
  .feature-list .item:nth-child(4n) {
    margin-bottom: 0px;
  }
}

.feature-list__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--editional-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .feature-list__icon {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__icon {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__icon {
    width: 270px;
  }
}

.feature-list__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.feature-list__description {
  line-height: 1.7142857143;
  color: var(--secondary-text-color);
}
@media screen and (min-width: 480px) {
  .feature-list__description {
    width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .feature-list__description {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__description {
    width: 270px;
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.section__title {
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (min-width: 480px) {
  .section__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .section__title {
    font-size: 28px;
    line-height: 1.1785714286;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section__title {
    font-size: 42px;
    line-height: 1.1666666667;
    margin-bottom: 50px;
  }
}

.section__thumb {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.section__thumb > .section__overlay {
  position: absolute;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  top: calc(100% - 70px);
  right: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-family: Roboto;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.1428571429;
  color: var(--main-background-color);
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .products {
    display: none;
  }
}

.section__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .section__list {
    gap: 30px;
  }
}

.section__item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 0;
}

.section__item:nth-child(3n) {
  margin-right: 0;
}

.team {
  background-color: var(--editional-color);
}

.team-item {
  width: 270px;
  /* width: calc((100% - 60px) /4); */
  margin-right: 30px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-item {
    width: 450px;
    margin-right: 0px;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team-item {
    width: 354px;
    gap: 30px;
    margin-right: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item {
    width: 270px;
    margin-right: 30px;
  }
}

.team-item {
  background-color: var(--main-background-color);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  -webkit-box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 3px 0px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 0px 2px rgba(0, 0, 0, 0.2), 0px 1px 0px 1px rgba(0, 0, 0, 0.14), 0px 3px 0px 1px rgba(0, 0, 0, 0.12);
}

.team-item:nth-child(4n) {
  margin-right: 0;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .team-item:nth-child(4n) {
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-item:nth-child(4n) {
    margin-right: 0;
  }
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  margin-bottom: 10px;
}

.team-position {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  color: var(--secondary-text-color);
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color var(--anim-fast);
  transition: background-color var(--anim-fast);
}

.social-icon {
  fill: #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: var(--main-background-color);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (max-width: 768px) {
  .client {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

.client__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  width: 170px;
  height: 92px;
  -webkit-transition: border var(--anim-fast);
  transition: border var(--anim-fast);
}
.client__link:hover, .client__link:focus {
  border-color: var(--accent-color);
}
@media screen and (min-width: 480px) {
  .client__link {
    width: 210px;
    height: 92px;
  }
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
    height: 92px;
  }
}

.client__icon {
  fill: #AFB1B8;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: fill var(--anim-fast);
  transition: fill var(--anim-fast);
}
.client__link:hover .client__icon, .client__link:focus .client__icon {
  fill: var(--accent-color);
}

.project-grid {
  padding: 30px 24px;
}

.element-item {
  width: calc((100% - 60px) / 3);
  border: solid 1px #EEEEEE;
  -webkit-transition: -webkit-box-shadow var(--anim-fast);
  transition: -webkit-box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast);
  transition: box-shadow var(--anim-fast), -webkit-box-shadow var(--anim-fast);
}

.element-item:hover {
  -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16), 0px 0px 4px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.12);
}

.element-thumb {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.element-thumb > .label-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  top: 0;
  right: 0;
  margin: 0;
  padding: 63px 24px;
  font-family: Roboto;
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.5555555556;
  color: var(--main-background-color);
  -webkit-transform: translatey(100%);
          transform: translatey(100%);
  -webkit-transition: -webkit-transform var(--anim-fast);
  transition: -webkit-transform var(--anim-fast);
  transition: transform var(--anim-fast);
  transition: transform var(--anim-fast), -webkit-transform var(--anim-fast);
}

.element-item:hover .label-overlay {
  -webkit-transform: translatex(0);
          transform: translatex(0);
}

.element-item:nth-child(3n) {
  margin-right: 0;
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.project-type-title {
  font-size: 16px;
  line-height: 1.875;
  color: var(--secondary-text-color);
}

p.project-type-title {
  display: box;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-background-color);
}

.address {
  line-height: 1.74;
  color: var(--main-background-color);
}

.footer-mail:hover, .footer-mail:focus {
  color: var(--accent-color);
}

.footer-phone:hover, .footer-phone:focus {
  color: var(--accent-color);
}

.footer-mail {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.footer-phone {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--anim-fast);
  transition: color var(--anim-fast);
}

.footer-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 9px;
}

.footer-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1428571429;
  text-transform: uppercase;
  color: var(--main-background-color);
}

.footer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--anim-fast);
  transition: background-color var(--anim-fast);
}

.footer-icon {
  fill: var(--main-background-color);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-send-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-form-footer-down {
  position: relative;
  margin-left: 45px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
}

.mail-input {
  margin: 0;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-background-color);
  letter-spacing: 0.03em;
  width: 358px;
}

.footer-button {
  padding: 10px 28px;
  padding-right: 62px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background: var(--accent-color);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.footer-send-icon {
  fill: var(--main-background-color);
  position: absolute;
  right: 25px;
}

.user-form-label {
  font-family: "Roboto";
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 15px;
  left: 16px;
}

.form-field {
  position: relative;
}/*# sourceMappingURL=main.css.map */