.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  @media (max-width: 767px) {
    .menu {
      display: none;
    }
  }
  
  .menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
  }
  
  .menu .link:hover,
  .menu .link:focus {
    text-decoration: underline;
  }
  
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }
  
  @media (min-width: 768px) {
    .menu-toggle {
      display: none;
    }
  }
  
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: var (--main-background-color);
  }
  
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    padding: 32px;
    background-color: var(--main-background-color);
    z-index: 999;
  
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }
  
  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    margin-bottom: auto;
  }
  
  .current {
    color: var(--accent-color);
  }

  .mobile-menu .link {
    display: block;
    margin-bottom: 32px;
    font-size: 40px;
    line-height: calc(47 / 40);
    color: var(--primary-text-color);
    text-decoration: none;
  }


  .contact-menu {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .contact-menu .link {
    text-decoration: none;
  }

  .contact-phone {
    font-size: 34px;
    line-height: calc(40 / 34);
  }

  .contact-mail {
    font-size: 24px;
    line-height: calc(28 / 24);
  }

  .mobile-socials {
    display: flex;
    gap: 20px;
  }

  .icon-menu {
    margin-right: 10px;
  }

  .icon-mobile-close {
    fill: var(--primary-text-color);
  }

  .icon-mobile-close:hover,
  .icon-mobile-close:focus {
    fill: var(--accent-color);
  }

  .mobile-phone-link {
    font-size: 34px;
    line-height: calc(40 / 34);
    color: var(--accent-color);

    display: inline-block;
    margin-bottom: 32px;
  }

  .mobile-contacts-link {
    font-size: 24px;
    line-height: calc(28 / 24);
    color: var(--secondary-text-color);

    display: inline-block;
    margin-bottom: 64px;
  }

  .mobile-socials-link {
    font-size: 18px;
    line-height: calc(22 / 18);
    color: var(--accent-color);

    display: block;
    padding-right: 10px;
    margin: 0;

    border-right: 1px solid rgba(33, 33, 33, 0.2);

  }

  .mobile-socials .mobile-socials-item:last-child .mobile-socials-link {
    border-right: none
  }
    