.section {
    padding-top: 30px;
    padding-bottom: 30px;

// phone screen
    @media screen and (min-width: 480px){
        padding-top: 60px;
        padding-bottom: 60px;
    }

// tablet screen
    @media screen and (min-width: 768px){
        padding-top: 60px;
        padding-bottom: 60px;
    }

// decktop screen
@media screen and (min-width: 1200px){
    padding-top: 94px;
    padding-bottom: 94px;

    
}

    
}

.section--no-padding {
    padding-bottom: 0px;


}

.section--no-top {
    padding-top: 0px;
}

