.section {
    padding-top: 94px;
    padding-bottom: 94px;

// phone screen
    @media screen and (min-width: 480px){
        padding-top: 60px;
       
    }

// tablet screen
    @media screen and (max-width: 768px){
        padding-top: 60px;
        
    }

    
}

.section--no-padding {
    padding-bottom: 0px;


}

.section--no-top {
    padding-top: 0px;
}

