h1,
h2,
h3,
ul,
p {
    margin: 0px;
}

img {
    display: block;
   
}


.list {
    list-style: none;
    margin-left: 0px;
    padding: 0px;
}

.link {
    text-decoration: none;
}

html {
    box-sizing: border-box;
    
}