/*addition 1 */

:root {
    --main-font: "Roboto";
    --secondary-font: "Raleway";
    
    --accent-color: #2196F3;;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --main-background-color: #ffffff;
    --secondary-background-color: #2F303A;
    --editional-color: #f5f4fa;

    --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}