.footer {
    
    
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
    
}

.address {
    line-height: 1.74;
    color: var(--main-background-color);
}

.footer-mail:hover, .footer-mail:focus {
    color: var(--accent-color);
} 

.footer-phone:hover, .footer-phone:focus {
    color: var(--accent-color);
}

.footer-mail {
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--anim-fast);
}

.footer-phone {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    transition: color var(--anim-fast);
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 9px;

    // phone screen
@media screen and (min-width: 320px) and (max-width:767px){
    display: block;
    text-align: center;
    justify-content: center;
    
}
}

.footer-title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: calc(16/14);
    text-transform: uppercase;
    color: var(--main-background-color);
}

.footer-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;

    // phone screen
@media screen and (min-width: 320px) and (max-width:767px){
    display: block;
    text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1199px){
    justify-content: center;
    text-align: center;
}
}

.footer-contacts, .footer-join {
    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 50%;
    }
}

.footer-address {
    display: flex;
    flex-wrap: wrap;

    // phone screen
    @media screen and (min-width: 320px) and (max-width:767px){
        display: block;
        justify-content: center;
        text-align: center;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px){
       margin: 0;
       justify-content: center;
    }
}

.footer-social {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    
    
}

.footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color var(--anim-fast);
}

.footer-icon {
    fill: var(--main-background-color);
    justify-content: center;
}

.footer-social-link:hover,
.footer-social-link:focus 
{
    background-color: var(--accent-color);
}

.footer-send-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.send-form-footer-down {
    position: relative;
    margin-left: 45px;


     // phone screen
     @media screen and (max-width: 767.99px){
        margin-left: 0px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        width: 70%;
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px){
        margin-left: 45px;
    }
}

.footer-form {
    display: flex;
    gap: 12px;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;

    // phone screen
@media screen and (min-width: 320px) and (max-width:1119px){
    display: block;
    text-align: center;
}
}

.mail-input {
margin: 0;
padding: 15px 16px;
border-radius: 4px;
border: 1px solid rgba(255, 255, 255, 0.3);
background-color: transparent;

font-size: 16px;
line-height: calc(20 / 16);
color: var(--main-background-color);
letter-spacing: 0.03em;

width: 358px;

    // phone screen
    @media screen and (min-width: 320px) and (max-width: 1199px){
        width: 100%;
    }
}

.footer-button {
    
    padding: 10px 28px;
    padding-right: 62px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;

    color: var(--main-background-color);
    background: var(--accent-color);
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;

    // phone screen
    @media screen and (min-width: 320px) and (max-width: 1119px){
        margin-top: 20px;
    }
  
}

.footer-send-icon {
    fill: var(--main-background-color);
    position: absolute;
    
    right: 25px;

    // phone screen
    @media screen and (min-width: 320px) and (max-width:479.99px){
        top: 124px;
        right: 70px;
    }

    // phone screen
    @media screen and (min-width: 480px) and (max-width:767px){
        top: 124px;
        right: 145px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px){
        top: 124px;
        right: 180px;
    }
    
}

.user-form-label {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: calc(20/16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);

    position: absolute;

    top: 15px;
    left: 16px;

}

.form-field {
    position: relative;
    
}

.footer-first {
    @media screen and (min-width: 320px) and (max-width: 767px){
        margin-bottom: 60px;
    }

    

    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-left: 76px;
    }
    
}

.footer-join {

    // phone screen
@media screen and (min-width: 320px) and (max-width:767px){
    
    margin-bottom: 60px;
}

    @media screen and (min-width: 768px) and (max-width: 1199px){
        margin-left: 76px;
    }
    
}
