.hero {
    text-align: center;
    background-color: var(--secondary-background-color);
    margin: 0 auto;
    padding: 200px 0;

    max-width: 320px;

    // mobile screen
    @media screen and (min-width: 320px) and (max-width: 479.99px){
        padding: 118px 0;
        
    }

    // tablet screen
    @media screen and (min-width: 768px) and (max-width: 1199px){
        padding: 118px 0;
        
    }
}

.hero-overlay {
    background-size: cover;
   
    background-color: #C4C4C4;
    
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 320px;

    // phone screen
    @media screen and (min-width: 480px){
        max-width: 480px;
        
    }

    // tablet screen
    @media screen and (min-width: 768px) and (max-width: 1199px){
        max-width: 768px;
        
    }

    // desktop screen
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
        height: 600px;
    }

    // Mobile screen

    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header_img_lit@1x.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header_img_lit@2x.jpg");
}

// Tablet screen

@media screen and (min-width: 768px) {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header_img_mid@1x.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header_img_mid@2x.jpg");
    }
}
   
// Desktop screen

@media screen and (min-width: 1200px){
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header_img_lar@1x.jpg");

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url("../images/hero/header_img_lar@2x.jpg");
}
}

}

.hero__name {
    // width: 696px;
    font-weight: 900;
    font-size: 18px;
    line-height: calc(24/18);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color: var(--main-background-color);

    // phone screen
    @media screen and (min-width: 480px){
        width: 360px;
        font-size: 26px;
        line-height: calc(42/26);
    }

// tablet screen
    @media screen and (min-width: 768px){
        width: 360px;
        font-size: 26px;
        line-height: calc(42/26);
    }

// desktop screen
    @media screen and (min-width: 1200px){
        width: 696px;
        font-size: 44px;
        line-height: calc(60/44);
}
}
